<div class="search-area-wrapper">
    <div class="search-area container">
        <h3 class="search-header">Tìm kiếm bài viết</h3>

        <form id="search-form" class="search-form clearfix" method="get" action="/search" autocomplete="off">
            <input class="search-term required" type="text" id="txt_keyword" name="keyword"
                   placeholder="Nhập từ khóa" title="* Vui lòng nhập từ khóa( Có thể tìm theo tên tác giả, tên tiêu đề, vấn đề của bài viết)" />
            <input class="search-btn" type="submit" value="Tìm" />
            <div id="search-error-container"></div>
        </form>
    </div>
</div>